name: Build & Push nvf to Cachix

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v9

      - name: Enable Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v4

      - name: Setup Cachix
        uses: cachix/cachix-action@v14
        with:
          name: DEIN-CACHIX-CACHE
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build nvf
        run: |
          nix build .#nvf

