name: Build nvf (x86_64) and push to Cachix

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-x86_64:
    runs-on: ubuntu-latest
    environment: cachix

    env:
      NIX_CONFIG: |
        experimental-features = nix-command flakes
        accept-flake-config = true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v25
        with:
          extra_nix_config: |
            system-features = kvm big-parallel
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Setup Cachix
        uses: cachix/cachix-action@v14
        with:
          name: itzemoji
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build EXACTLY what nix run uses
        run: |
          set -euxo pipefail
          nix build .#packages.x86_64-linux.default --accept-flake-config


      - name: Push FULL closure to Cachix
        run: |
          set -euxo pipefail

          nix path-info -r .#apps.x86_64-linux.default \
            | cachix push itzemoji

